.card {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: flex-start;
   margin-bottom: 25px;
   padding: 15px 0;
   border-bottom: 1px solid #ccc;
   &__img {
      border: 1px solid red;
      margin-right: 15px;
   }
   &__info {
      flex-grow: 1;
      border: 1px solid red;
   }
}